<div class="face-snap-card">
    <!-- <div>{{ actualite.vignette }}</div> -->
    <h2>{{ actualite.titre }}</h2>
    <h3>{{ actualite.titre2 }}</h3>
    <img [src] = "actualite.vignette" [alt] = "actualite.titre">
    <p>Mis en ligne le : {{ actualite.date_publication }} par l'utilisateur numéro : {{actualite.id_users}}</p>
    <button (click)="onViewActualite()">Lire l'actualité</button>
    <button class="deleteBtn" (click)="onDeleteActualite(actualite.id)">Supprimer l'actualité</button>
</div>

